<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
</head>
<body>
  <div id="exercise">
    <div>
      <button @click="show = !show">Toggle</button>
      <p v-if="show">You either see me ...</p>
      <p v-else>...or me</p>
      <p v-show="show">You either see me ...</p>
      <p v-show="!show">...or me</p>
    </div>
    <ul>
      <li v-for="(item, index) in array">{{item}} ({{index}})</li>
    </ul>
    <ul>
      <li v-for="(value, key, index) in myObject">{{key}}: {{value}} ({{index}})</li>
    </ul>
    <ul>
      <li v-for="(value, key) in testData">
          <div v-if="value.constructor !== Array">{{value}}</div>
          <div v-else v-for="item in value">{{item}}</div>
      </li>
    </ul>
  </div>
</body>
<script>
  new Vue({
    el: '#exercise',
    data: {
      show: true,
      array: ['Max', 'Anna', 'Chris', 'Manu'],
      myObject: {
        title: 'Lord of the Rings',
        author: 'J.R.R. Tolkiens',
        books: '3'
      },
      testData: {
        name: 'TESTOBJECT',
        id: 10,
        data: [1.67, 1.33, 0.98, 2.21]
      }
    }
  });
</script>
</html>