<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <title>Vue instances</title>
</head>
<body>
  <div id="app1">
    <h1 ref="heading">{{ title }}</h1>
    <!-- using ref key -->
    <button ref="myButton" v-on:click="show">Show Paragraph</button>
    <p v-if="showParagraph">This is not always visible</p>
  </div>
  <div id="app2">
    <h1 ref="heading">{{ title }}</h1>
    <button v-on:click="onChange">Change something in Vue 1</button>
    <p v-if="showParagraph">This is not always visible</p>
    <hello-component></hello-component>
    <hello-component></hello-component>
    <hello></hello>
  </div>
  <div id="app3">
  <div class="reusable"></div>
  <div class="reusable"></div>

  
  </div>
</body>
<script>

  Vue.component('hello-component',{
    template: '<h1>Hello Component</h1>'
  });
  
  var data = {
    title: 'The VueJS Instance',
    showParagraph: false
  };

  var vm1 = new Vue({
  //el: '#app1',
  data: data,
  methods: {
    show: function() {
      this.showParagraph = true;
      this.updateTitle('The VueJS Instance (Updated)');
      
      //using $refs key
      this.$refs.myButton.innerText = 'Test';
    },
    updateTitle: function(title) {
      this.title = title;
    }
  },
  computed: {
    lowercaseTitle: function() {
      return this.title.toLowerCase();
    }
  },
  watch: {
    title: function(value) {
      alert('Title changed, new value: ' + value);
    }
  }
});

var vm2 = new Vue({
  el: '#app2',
  data:{
    title: 'The second instance'
  },
  methods: {
    onChange: function(){
      vm1.title = 'Changed!';
    }
  }
});

setTimeout(function(){
  vm1.title = "Changed by timer!";
  vm1.show();
}, 2000);

// This property will not be watched by VueJs because
// it was not instantiated with the Vue() constructor.
vm1.newProperty = 'New!';

// native Vue members
// $data - data block
console.log(vm1.$data.title);
console.log(vm1.$data === data);

vm1.$mount('#app1');

var vm3 = new Vue({
  el:'.reusable',
  template: '<h1>Hello!</h1>'
});

//vm3.$mount('#app3');



</script>
</html>

